@model IEnumerable<GeneralTelegramBot.DataAccess.Models.Photo>


<div class="row pb-3">
    @foreach(var product in Model)
    {
        <img src="@product.PhotoSource" class="card-img-top rounded"/>
    }
</div>