@model GeneralTelegramBot.Web.ViewModels.MessageViewModel
@{
    ViewData["Title"] = "Saved messages";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Saved messages</h2>
        </div>
        <form asp-controller="Message" asp-action="Index" method="get">
            <p class="text-primary">
                Telegram login <input type="text" asp-for="SearchString"/>
                <input type="submit" value="Find"/>
            </p>
        </form> 
    </div>
    <br/><br/>

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <th>
                User sender
            </th>
            <th>
                Message content
            </th>
            <th>
                Creation date
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var message in Model.Messages)
        {
            <tr>
                <td>
                    @message.MessageUser.UserLogin
                </td>
                <td>
                    @message.MessageContent
                </td>
                <td>
                    @message.MessageCreationDate
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>